<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700" rel="stylesheet">
    <title>La vaccination</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            color: #576775;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            background-color: white;
        }
        .container {
            width: 100%;
            max-width: 500px;
            background-color: white;
            margin-left: auto;
            margin-right: auto;
        }
        .header {
            position: relative;
            margin: 0;
            padding: 0;
            overflow: hidden; /* Cacher les parties des éléments enfants qui débordent */
        }
        .header img {
            width: 100%;
            height: auto;
            display: block;
            border: 0;
            margin-bottom: 0;
        }
        .header h2 {
            font-weight: 500;
            font-size: 15px;
            padding: 15px;
            margin: 0;
            background-color: #e18f7d;
            color: white;
            position: relative;
            text-align: center;
            z-index: 1000;
        }
        .container-title {
            height: 50px;
            width: 270px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            position: absolute;
            bottom: 100px;
            left: 0px;
            overflow: hidden;
        }
        .container-title::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #e18f7d;
            opacity: 0.4;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
        }
        .title {
            width: 260px;
            height: 40px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            background-color: #e18f7d;
            position: absolute;
            bottom: 5px;
            left: 0px;
            z-index: 1000;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .title h1 {
            margin: 0; /* Supprimez les marges par défaut du h1 pour le centrer correctement */
            font-size: 25px; /* Ajustez la taille de la police selon vos besoins */
            color: white; /* Ajoutez une couleur pour le texte si nécessaire */
        }
        .circle {
            position: absolute;
            border-radius: 50%;
            background-color: #e18f7d;
            opacity: 0.5;
            z-index: 10;
        }
        .circle1 {
            width: 120px;
            height: 100px;
            top: -30px;
            left: -30px;
        }
        .circle2 {
            width: 70px;
            height: 60px;
            top: -30px;
            right: 160px;
        }
        .circle3 {
            width: 130px;
            height: 150px;
            bottom: 40px;
            left: -5px;
            transform: translateX(-50%);
        }
        .circle4 {
            width: 80px;
            height: 80px;
            bottom: 10px;
            left: 110px;
            transform: translateX(-50%);
        }
        .content {
            font-size: 16px;
            line-height: 1.5;
        }
        h3 {
          background-color:  #e18f7d;
          padding: 10px 0px;
          text-align: center;
          color: white;
          width: 350px;
          font-size: 17px;
          margin-left: auto;
          margin-right: auto;
        }

        p {
            padding: 0px 20px;
        }
        .container-link {
            height: 200px;
            margin: 20px 45px;
            background-color:#576775;
        }
        .container-link p {
            padding: 20px;
            font-size: 17px;
            color: white;
            text-align: center;
        }
        .container-link h4{
            background-color: white;
            padding: 10px 5px;
            width: 350px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-weight: 400;
        }
        .container-link h5{
            color: white;
            font-size: 16px;
            font-weight: 500;
            text-align: center;
        }
        .container-collab {
            display: flex; /* Utiliser Flexbox */
            align-items: center; /* Aligner verticalement au centre */
            gap: 10px; /* Espacement entre les éléments */
            width: 350px;
            margin-left: auto;
            margin-right: auto;
        }
        .container-collab img {
            vertical-align: middle; /* Alignement vertical pour les images (optionnel avec Flexbox) */
        }
        .footer {
            text-align: center;
            font-size: 12px;
            color: #777;
            padding-top: 20px;
            border-top: 4px solid #e18f7d;
            margin-top: 10px;
        }
    </style>
    
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{{ asset('images/vaccin.jpg') }}" alt="Newsletter Image">
            <h2>Population adolescente : comment les protéger ?</h2>
            <div class="container-title">
                <div class="title">
                    <h1>I Vaccin' & Vous</h1>
                </div>
            </div>
            <div class="circle circle1"></div>
            <div class="circle circle2"></div>
            <div class="circle circle3"></div>
            <div class="circle circle4"></div>
        </div>
        <h3>J'ACCEDE À L'ESPACE VACCIN' & VOUS</h3>
        <p>Ce mois-ci, Vaccin' & Vous est de retour avec un dossier sur la vaccination d'une population qui ne bénéficie pas toujours du suivi qu'elle nécessite : <strong style="text-decoration: underline;">les adolescents.</strong>
         Pourtant, l'adolescence est encore le temps du rattrapage d'une primovaccination incomplète, des rappels nécessaires mais aussi celui d'une exposition a de nouveaux risques.</p>
        <p><strong style="text-decoration: underline;">Ce dossier revient sur ces sujets et vous propose un tableau de synthèse pour vous accompagner dans votre pratique.</strong></p>
        <p><strong style="text-decoration: underline;">Sérotypes</strong> et <strong style="text-decoration: underline;">vaccins conjugués</strong>: que se cache-t-il réellement derrière ces termes communément utilisés mais faisant appel à des notions parfois complexes ? Comment les définit-on ? Sur quelles techniques reposent-ils ? Quelles en sont les implications dans votre pratique ?</p>
        <p><strong style="text-decoration: underline;">Retrouvez les réponses à vos questions dans les articles de synthèse du mois.</strong></p>
        <div class="container-link">
        <p>Pour retrouver les contenus de l'espace édition 2021, rendez-vous dans la rubrique <strong style="text-decoration: underline;">Archives</strong></p>
        <h4>J'ACCÈDE À L'ESPACE <strong>VACCIN' & VOUS</strong></h4>
        <h5>Bonne lecture sur <strong>Vaccin' & Vous !</strong></h5>
        </div>
        <div class="container-collab">
        <span>Avec le soutien institutionnel de</span>
        <img src="{{ asset('images/ImagePfizer.png') }}" width="80" height="50" alt="logo pfizer">
        </div>
        <div class="footer">
            <p>Vous recevez cet e-mail car vous avez accepté de recevoir des messages d'<a href="#">egora.fr</a>.
                Le site <a href="#">www.egora.fr</a> est édité par la société Global Média Santé.
                SAS au capital de 4 289 852 € | RCS Nanterre B422 422 063
                Tour Voltaire - 1, Place des Degrés CS 80235 Puteaux | 92059 Paris La Défense
            </p>
        </div>
    </div>
</body>
</html>
